@model BulkyBook.Web.Controllers.CategoryController
@{
    ViewData["Title"] = "Category";
}

<h1 class="text-primary">Category List</h1>

<div>
    <form method="get">
        <input class="input-group"/>
    </form>
</div><br/>
<div class="text-end">
    <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i>
        New Category
    </a>
</div>
<table class="table table-hover">
    <thead class="accordion-header">
    <tr class="">
        <th scope="col">Category Name</th>
        <th scope="col">Display Order</th>
        <th ></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var c in Model.Categories)
        {
            <tr>
                <td>@c.Name</td>
                <td>@c.DisplayOrder</td>
                <td><a asp-controller="Category" asp-action="Edit" asp-route-id="@c.Id">Edit</a></td>
            </tr>
        }
    </tbody>
</table>

